$green: #40c980;
$blue: #007acc;
$black: #1e1e1e;
$light-grey: #929293;
$orange: #c97e5a;
$yellow: #e5e510;
$red: #ff6058;
$cool: #0099ff;
$cool-alt: #0099ff59;

$background-color: #252525;
$secondary-background: #2b2b2b;
$tertiary-background: #393939;
$quaternary-background: #232323;

$super-swag: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% )